<div class="form-group">
    <input
    [class.is-invalid]="ngControl.touched && ngControl.invalid " 
        type= {{type}}
        class="form-control" 
        [formControl]="ngControl.control"
        placeholder={{label}} >
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please enter a {{label}}</div>
    <div *ngIf="ngControl.control.errors?.minLength" class="invalid-feedback">
        {{label}} must be at least {{control.erros.minlength('requiredLength')}} </div>
    <div *ngIf="ngControl.control.errors?.maxLength" class="invalid-feedback">
        {{label}} can't be more than {{control.erros.maxLength('requiredLength')}} </div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">Passwords do not match</div>

</div>